<div th:fragment="medicalhist">
    <div class="d-flex justify-content-between align-items-center px-2 mt-3">
        <h6 class="card-subtitle">Medical History</h6>
        <i class="fa fa-plus icon-button toggle-health-form" id="addHistory"></i>
    </div>

    <div th:replace="fragments/forms/medical-history-form :: medicalHistoryForm"></div>

    <div class="medical-history-list" th:if="${patient.medicalHistories.size() > 0}">
        <ul class="mt-2" style="list-style: none; padding-left: 30px;" >
            <li class="py-1" th:each="medicalHistory : ${patient.medicalHistories}"
                th:data-medicalhistory-id="${medicalHistory.id}"  th:onclick="|handleDeleteMedicalHistory('${medicalHistory.id}')|">
                <i class="fa fa-check-circle pr-2"></i>
                <span th:text="${medicalHistory.description}"></span>
            </li>
        </ul>
    </div>

    <div class="medical-history-list" th:unless="${patient.medicalHistories.size() > 0}">
        <h5 class="text-muted mt-3 pl-2" id="noMedicalHistoryP">No Medical History</h5>
    </div>
</div>