<div th:fragment="medicalhist">
    <div class="d-flex justify-content-between align-items-center px-2 mt-3">
        <h6 class="card-subtitle">Medical History</h6>
        <i class="fa fa-plus icon-button toggle-health-form" id="addHistory"></i>
    </div>

    <div th:replace="fragments/forms/medical-history-form :: medicalHistoryForm"></div>

    <div class="medical-history-list" th:if="${patient.medicalHistoriesDto.size() > 0}">
        <ul class="mt-2" style="list-style: none; padding-left: 30px;" >
            <li class="py-1" th:each="medicalHistory : ${patient.medicalHistoriesDto}"
                th:data-medicalhistory-id="${medicalHistory.uuid}"
                >
                <i class="fa fa-check-circle pr-2"></i>
                <span class="med-hist-desc" th:text="${medicalHistory.description}" th:attr="onclick='openMedHistDeleteForm(\'' + ${medicalHistory.uuid}+'\')'"></span>

                <div th:data-med-hist-delete-form="${medicalHistory.uuid}">
                    <span class="text-muted small">Are you sure you want to delete this procedure?</span>
                    <div style="float: right;">
                        <a class="btn btn-secondary btn-sm" th:attr="onclick='closeMedHistDeleteForm(\'' + ${medicalHistory.uuid}+'\')'">Cancel</a>
                        <a class="btn btn-danger btn-sm" th:attr="onclick='handleDeleteMedHist(\'' + ${medicalHistory.uuid}+'\')'">Delete</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="medical-history-list" th:unless="${patient.medicalHistoriesDto.size() > 0}">
        <h5 class="text-muted mt-3 pl-2" id="noMedicalHistoryP">No Medical History</h5>
    </div>
</div>