<div class="card mb-4 procedure-card" th:fragment="procedures" id="procedure-card-item">
    <div class="card-body">

        <div class="row" th:each="procedure : ${#lists.sort(patient.proceduresDto, procedureDate)}"
             th:if="${patient.proceduresDto.size() > 0}" th:data-procedure="${procedure.uuid}" >


            <div class="col-sm-2">
                <span th:text="${procedure.dateCreated}" id="visitDay">Today</span><br>
                <small class="text-muted" th:text="${procedure.dateCreated}"
                       id="visitDate"></small>
            </div>

            <div class="col-sm-10 text-center">
                <div class="card mb-3" th:data-procedure-card="${procedure.uuid}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <i
                                        id="procedureIcon"
                                        th:class="${procedure.paid == 'full' || procedure.paid == 'discounted' ? 'fa fa-check-circle fa-lg' : 'fa fa-circle fa-lg'}"
                                        th:style="${procedure.paid == 'unpaid' || procedure.paid == 'partial' ? 'color: #222' : 'color: #3498db'}"></i>
                            </div>


                            <div class="col-8">
                                <div class="row text-capitalize" th:text="${procedure.description}"></div>

                                <div class="row">
                                    <small class="text-muted text-capitalize" th:text="${procedure.category}"></small>

                                </div>
                            </div>



                            <div class="col-3 d-flex justify-content-end align-items-center pr-4" id="procedure-action" th:if="${procedure.paid == 'unpaid' || procedure.paid == 'partial'}">

                                <span class="badge badge-warning"
                                      style="position: absolute; top: -35%; right: -10%"
                                      th:if="${procedure.paid == 'partial'}">
                                    partially paid
                                </span>


                                <i class="fa fa-files-o icon-button"
                                   th:data-create-invoice-btn="${procedure.uuid}"
                                   th:attr="onclick='showProcedureInvoiceForm(\'' + ${procedure.uuid}+'\')'"
                                   data-toggle="tooltip" data-placement="top" title="Create invoice"></i>
                                <i class="fa fa-trash icon-button"
                                   th:data-delete-procedure-btn="${procedure.uuid}"
                                   th:attr="onclick='showProcedureDeleteForm(\'' + ${procedure.uuid}+'\')'"
                                   data-toggle="tooltip" data-placement="top" title="Delete procedure"></i>
                            </div>

                            <div class="col-3 d-flex justify-content-end align-items-center pr-4" th:if="${procedure.paid == 'full' || procedure.paid == 'discounted'}">
                                <i class="fa fa-print icon-button"
                                   th:data-print-invoice-btn="${procedure.uuid}"
                                   data-toggle="tooltip" data-placement="top" title="Print invoice"></i>
                                <i class="fa fa-trash icon-button"
                                   th:data-delete-procedure-btn="${procedure.uuid}"
                                   th:attr="onclick='showProcedureDeleteForm(\'' + ${procedure.uuid}+'\')'"
                                   data-toggle="tooltip" data-placement="top" title="Create invoice"></i>
                            </div>



                            <div class="col-11 offset-1 pl-0" id="procedure-delete-form" th:data-procedure-delete-form="${procedure.uuid}">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-muted">Are you sure you want to delete this procedure?</span>
                                    <div>
                                        <a class="btn btn-secondary btn-sm" th:attr="onclick='closeProcedureDeleteForm(\'' + ${procedure.uuid}+'\')'">Cancel</a>
                                        <a class="btn btn-danger btn-sm" th:attr="onclick='deleteProcedure(\'' + ${procedure.uuid}+'\')'">Delete</a>
                                    </div>
                                </div>

                            </div>


                            <div class="col-11 offset-1 pl-0" th:data-invoice-form="${procedure.uuid}">

                                <form class="d-flex justify-content-between" style="width: 100%;">
                                            <input type="hidden" th:value="${patient.uuid}" id="comPatientId">
                                            <div class="form-group input-group-sm pr-1 d-flex justify-content-between align-items-center">
                                                <input type="text" class="form-control"
                                                       required
                                                       placeholder="Payment Amount"
                                                       id="cost"
                                                       name="cost"
                                                       th:value="${procedure.cost}"
                                                       style="background-color: #393939 !important"
                                                >

                                            </div>


                                        <div class="form-group input-group-sm pr-1 d-flex justify-content-between align-items-center">
                                            <input type="date" class="form-control"
                                                   required
                                                   id="paymentDate"
                                                   name="paymentDate"
                                                   style="background-color: #393939 !important"
                                            >

                                        </div>

                                    <div class="form-group input-group-sm pr-1 d-flex justify-content-between align-items-center">
                                        <select class="form-control" id="paymentType" name="paymentType" style="background-color: #393939 !important">
                                            <option value="full">Full Payment</option>
                                            <option value="partial">Partial Payment</option>
                                            <option value="discounted">Discounted</option>
                                        </select>
                                    </div>
                                    <div>
                                        <a class="btn btn-secondary btn-sm" th:attr="onclick='closeProcedureInvoiceForm(\'' + ${procedure.uuid}+'\')'">Cancel</a>
                                        <a class="btn btn-info btn-sm" id="invoiceBtn" th:attr="onclick='submitInvoiceProcedure(event, \'' + ${procedure.uuid}+'\')'">Invoice</a>
                                    </div>





                                </form>

                                <div class="row mt-3 pl-3 d-flex flex-column align-items-start" id="payment-details">

                                    <small class="text-muted procedure-cost">Procedure cost: [[${procedure.cost}]]</small>
                                    <small class="text-muted partial-payment" th:each="invoice : ${procedure.invoicesDto}">Partial payment: [[${invoice.cost}]] as of [[${invoice.datePaid}]]</small>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>

        <div class="d-flex flex-column justify-content-center align-items-center"
             style="height: 100%;" th:unless="${!patient.proceduresDto.isEmpty()}">
            <h5 class="text-muted mb-5">No Procedures</h5>
            <a class="btn btn-info" th:href="@{'/patient/procedures/' + ${patient.uuid}}"
               id="addProcedures">Add Procedures</a>
        </div>


    </div>


</div>