<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/head :: head"></head>
<body>

<div class="container-fluid">

    <div class="row">

        <!-- SIDEBAR -->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!-- MAIN CONTENT -->
        <div class="col-11 offset-1 my-4 pl-0 pr-5">

            <!-- MAIN CONTENT HEADER -->
            <div th:replace="fragments/patientName :: patientName"></div>

            <div th:replace="fragments/contentNav :: contentNav"></div>

            <div class="dropdown-divider"></div>
            <!-- END MAIN CONTENT HEADER -->

            <!-- MAIN CONTENT DETAILS -->

            <div class="row mt-4">
                <!-- PATIENT DETAILS -->

                <div class="col-sm-3">
                    <div th:replace="fragments/patientForm :: patientForm"></div>

                    <form th:action="@{/uploadProfileImage/}" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:value="${patient.id}" name="patientId">
                        <input type="file" name="file" id="upload-image" accept="image/*"
                               onchange="loadFile(event)">

                        <input type="submit" value="Upload" id="profileUploadButton">
                    </form>
                </div>

                <!-- END PATIENT DETAILS -->

                <!-- PATIENT PROCEDURES -->
                <div class="col">
                    <h5 class="mb-4 text-muted">Latest Procedures</h5>
                    <div class="card mb-4 procedure-card">
                        <div class="card-body">

                            <div class="row" th:each="procedure : ${#lists.sort(patient.procedures, procedureDate)}"
                                 th:if="${patient.procedures.size() > 0}">


                                <div class="col-sm-2">
                                    <span th:text="${procedure.date}" id="visitDay">Today</span><br>
                                    <small class="text-muted" th:text="${procedure.date}"
                                           id="visitDate">April 4, 2020</small>
                                </div>

                                <div class="col-sm-10 text-center">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-1">
                                                    <i
                                                            th:class="${procedure.paid == true ? 'fa fa-check-circle fa-lg' : 'fa fa-circle fa-lg'}"
                                                            th:style="${procedure.paid == false ? 'color: #222' : 'color: #007bff'}"></i>
                                                </div>


                                                <div class="col-8">
                                                    <div class="row" th:text="${procedure.description}">Description
                                                        will go here
                                                    </div>

                                                    <div class="row">
                                                        <small class="text-muted" th:text="${procedure.category}">Category
                                                            here</small>

                                                    </div>
                                                </div>

                                                <div class="col-3" th:if="${!procedure.paid}">
                                                    <button type="button" class="btn btn-info">Create
                                                        Invoice
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <div class="d-flex flex-column justify-content-center align-items-center"
                                 style="height: 100%;" th:unless="${!patient.procedures.isEmpty()}">
                                <h5 class="text-muted mb-5">No Procedures</h5>
                                <a class="btn btn-info" th:href="@{'/patient/procedures/' + ${patient.id}}"
                                   id="addProcedures">Add Procedures</a>
                            </div>


                        </div>


                    </div>

                    <!-- END PATIENT PROCEDURES -->

                    <!-- PATIENT HEALTH NOTES -->
                    <h5 class="mb-4 text-muted">Health Notes</h5>
                    <div class="card procedure-card">

                        <div class="card-body">


                            <div class="row mb-3">

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between px-2">
                                        <h6 class="card-subtitle mb-2">Complaints</h6>
                                        <i class="fa fa-plus icon-button" id="addComplaint"></i>
                                    </div>

                                    <div th:replace="fragments/forms/complaint :: complaintForm"></div>


                                    <div class="complaint-list" th:if="${patient.complaints.size() > 0}">
                                        <div class="card mt-3" th:data-comp-id="${complaint.id}"
                                             th:each="complaint : ${#lists.sort(patient.complaints, complaintDate)}">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <p class="mb-0" th:text="${complaint.description}"></p>
                                                        <small class="text-muted" th:text="${complaint.date}"></small>
                                                    </div>
                                                    <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                                        <i class="fa fa-pencil icon-button mr-3" style="display: none;"></i>
                                                        <i class="fa fa-trash icon-button"
                                                           th:onclick="|handleDeleteComplaint('${complaint.id}')|"
                                                           style="display: none;"></i>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="complaint-list" th:unless="${patient.complaints.size() > 0}">
                                        <p class="text-muted mt-3" id="noComplaintP">No Complaints</p>
                                    </div>

                                </div>

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between px-2">
                                        <h6 class="card-subtitle mb-2">Allergies</h6>
                                        <i class="fa fa-plus icon-button" id="addAllergy"></i>
                                    </div>
                                    <ul class="mt-3" style="list-style: none;">
                                        <li class="py-1"><i class="fa fa-check-circle pr-2" style="color: var(--primary-color);"></i>Allergic to sea foods.</li>
                                        <li class="py-1"><i class="fa fa-check-circle pr-2" style="color: var(--primary-color);"></i>Allergic to mefenamic.</li>
                                        <li class="py-1"><i class="fa fa-check-circle pr-2" style="color: var(--primary-color);"></i>Allergic to bulalo.</li>
                                        <li class="py-1"><i class="fa fa-check-circle pr-2" style="color: var(--primary-color);"></i>Allergic to mang inasal.</li>
                                    </ul>

                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- END PATIENT HEALTH NOTES -->

                </div>
            </div>


            <!-- END MAIN CONTENT DETAILS -->
        </div>
        <!-- MAIN CONTENT -->
    </div>

</div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/details.js}"></script>
<script>
		const visitDates = document.querySelectorAll("#visitDate");
		const visitDays = document.querySelectorAll("#visitDay");

		const hiddenBirthDAte = document.getElementById("hiddenBirthDAte").value;

		document.getElementById("birthDate").value = hiddenBirthDAte;

		formatWeekDay(visitDays);
		formatNamedDate(visitDates);

        $(document).ready(function(){
            $("button").click(function( event ) {
              event.stopPropagation();
              // Do something
            });
        });

</script>
</body>
</html>