<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/head :: head"></head>
<body>

<div class="container-fluid">

    <div class="row">

        <!-- SIDEBAR -->
        <div th:replace="fragments/layout/sidebar :: sidebar"></div>
        <!-- MAIN CONTENT -->
        <div class="col-11 offset-1 my-4 pl-0 pr-5">

            <!-- MAIN CONTENT HEADER -->
            <div th:replace="fragments/patientName :: patientName"></div>

            <div th:replace="fragments/contentNav :: contentNav"></div>

            <div class="dropdown-divider"></div>
            <!-- END MAIN CONTENT HEADER -->

            <!-- MAIN CONTENT DETAILS -->

            <div class="row mt-4">
                <!-- PATIENT DETAILS -->

                <div class="col-sm-3">
                    <div th:replace="fragments/forms/patient-form :: patientForm"></div>

                    <form th:action="@{/uploadProfileImage/}" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:value="${patient.id}" name="patientId">
                        <input type="file" name="file" id="upload-image" accept="image/*"
                               onchange="loadFile(event)">

                        <input type="submit" value="Upload" id="profileUploadButton">
                    </form>
                </div>

                <!-- END PATIENT DETAILS -->

                <!-- PATIENT PROCEDURES -->
                <div class="col">
                    <h5 class="mb-4 text-muted">Latest Procedures</h5>
                    <div th:replace="fragments/details/procedures :: procedures"></div>

                    <h5 class="mb-4 text-muted">Health Notes</h5>
                    <div class="card procedure-card">

                        <div class="card-body">


                            <div class="row mb-3">

                                <div class="col-sm-6">
                                   <div th:replace="fragments/details/complaints :: complaints"></div>

                                </div>

                                <div class="col-sm-6" style="height: 100%;">
                                    <div th:replace="fragments/details/allergies :: allergies"></div>

                                    <div class="dropdown-divider"></div>

                                    <div th:replace="fragments/details/medicalhist :: medicalhist"></div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- END PATIENT HEALTH NOTES -->

                </div>
            </div>


            <!-- END MAIN CONTENT DETAILS -->
        </div>
        <!-- MAIN CONTENT -->
    </div>

</div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/details.js}"></script>
<script>
    const visitDates = document.querySelectorAll("#visitDate");
    const visitDays = document.querySelectorAll("#visitDay");

    const hiddenBirthDAte = document.getElementById("hiddenBirthDAte").value;

    document.getElementById("birthDate").value = hiddenBirthDAte;

    formatWeekDay(visitDays);
    formatNamedDate(visitDates);
</script>
</body>
</html>