<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/head :: head"></head>
<body>

<div class="container-fluid">

    <div class="row">

        <!-- SIDEBAR -->
        <div th:replace="fragments/layout/sidebar :: sidebar"></div>
        <!-- MAIN CONTENT -->
        <div class="col-11 offset-1 mt-4 pl-0 pr-5">

            <!-- MAIN CONTENT HEADER -->
            <div th:replace="fragments/patientName :: patientName"></div>

            <div th:replace="fragments/contentNav :: contentNav"></div>

            <div class="dropdown-divider"></div>
            <!-- END MAIN CONTENT HEADER -->

            <!-- MAIN CONTENT DETAILS -->

            <div class="row mt-5 align-content-between" style="min-height: calc(100% - 70px);">
                <div class="col-12" th:if="${!patient.patientDocumentsDto.isEmpty()}">
                    <div class="row" id="patient-document-list">
                        <div class="col-3" id="patient-file" th:each="document : ${patient.patientDocumentsDto}"
                             th:data-patient-file="${document.uuid}">
                                <div class="mb-3" style="height: 120px; width: 120px;" >
                                    <img th:src="${document.link}" th:alt="${document.fileName}"
                                         th:if="${document.fileType == 'png' || document.fileType == 'jpg'}">

                                    <img src="/images/pdf.svg" th:alt="${document.fileName}"
                                         th:if="${document.fileType == 'pdf'}" style="padding: 2rem;">
                                </div>
                                <span th:text="${document.fileName}"></span>
                                <br />
                                <span  class="small">
                                    <span class="text-muted">uploaded</span>
                                    <span id="file-date-uploaded" th:text="${document.dateUploaded}"></span>
                                </span>
                            <div>
<!--                                <a href="#" class="small">Download</a>-->
<!--                                <span class="text-muted">|</span>-->
                                <a th:href="${document.link}" class="small" target="_blank">View</a>
                                <span class="text-muted">|</span>
                                <a href="#" class="small"
                                   th:attr="onclick='openDeleteModal(\'' + ${document.uuid}+'\')'">Remove</a>
                            </div>

                        </div>


                    </div>


                </div>

                <div class="col-12" th:unless="${!patient.patientDocumentsDto.isEmpty()}">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img th:src="${'/images/docs.svg'}" width="60px">
                        <p class="mt-4">Let's add some documents</p>
                        <p class="text-muted small">Keep a record of patient documents for references.</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center">
                        <label for="upload-file">
                            <a class="btn btn-info">Add document</a>
                        </label>

                    </div>
                </div>







            </div>



            <!-- END MAIN CONTENT DETAILS -->
        </div>
        <!-- MAIN CONTENT -->
        <div class="side-overlay"></div>
        <!--        SIDE NAV -->
        <div class="side-slider">
            <div class="side-content pt-3">
                <div class="d-flex justify-content-between align-items-baseline">
                    <div>
                        <h5>Upload Files</h5>
                    </div>

                    <i class="fa fa-times" onclick="closeSideSlider()" style="cursor: pointer;"></i>
                </div>

                <div class="dropdown-divider my-3">

                </div>
                <embed src="" id="for-upload">


                <form id="uploadFileForm"  th:action="@{/uploadFile/}" method="post" enctype="multipart/form-data"
                      accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps">
                    <input type="hidden" th:value="${patient.uuid}" name="patientId">
                    <input type="file" name="file" id="upload-file" accept="*" onchange="setImage(event)">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-group input-group" style="width: 80%; margin-bottom:0;">
                            <input type="text" class="form-control form-control-sm" required
                                   placeholder="Rename file"
                                   value=""
                                   id="filename" name="filename">


                        </div>
                        <input class="btn btn-info btn-sm" type="submit" id="uploadFileBtn" value="Upload">
                    </div>


                </form>



            </div>
        </div>
        <div class="delete-modal">
            <div class="delete-modal__content">
                <p class="text-muted">Are you sure you want to delete?</p>
                <div class="delete-modal__content-action mt-2">
                    <a class="btn btn-secondary btn-sm" onclick="closeDeleteModal()">Cancel</a>
                    <a class="btn btn-danger btn-sm" onclick="handleDeletePatientFile()">Delete</a>
                </div>

            </div>
        </div>
    </div>

</div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/documents.js}"></script>
<script>
    const fileDateUploaded = document.querySelectorAll("#file-date-uploaded");
    formatNamedDate(fileDateUploaded);
</script>
</body>
</html>