<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dental Clinic - Patients</title>

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">

<script src="/webjars/jquery/3.4.0/jquery.min.js"></script>

<script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>


<link rel="stylesheet"
	th:href="@{/webjars/bootswatch-darkly/4.2.1/bootstrap.min.css}" />

<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />

<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container-fluid">

		<div class="row">

			<!-- SIDEBAR -->
			<div th:replace="fragments/sidebar :: sidebar"></div>
			<!-- MAIN CONTENT -->
			<div class="col-11 offset-1 my-4 pl-0 pr-5">
				<!-- MAIN CONTENT HEADER -->
				<h5>Patients</h5>
				<div class="row mt-5">
					<div class="col-10">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search patient">
							<div class="input-group-append">
								<button class="btn"
									style="background-color: #303030 !important; border-color: #222 !important"
									type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-2">
						<a class="btn btn-info" th:href="@{/patient/new}" style="background-color: #007bff;">
							<i class="fa fa-plus mr-1"></i> Add Patient
						</a>
					</div>


				</div>

				<span th:text="${#lists.size(patients)}"/>

				<!-- END MAIN CONTENT HEADER -->

				<!-- MAIN CONTENT DETAILS -->
				<table class="table table-hover mt-4">
					<thead>
						<tr>
							<th scope="col"><fieldset class="form-group">

									<div class="form-check">
										<input class="form-check-input" type="checkbox">
									</div>

								</fieldset></th>
							<th scope="col">Patient Name</th>
							<th scope="col">Birthdate</th>
							<th scope="col">Phone</th>
							<th scope="col">Email</th>
							<th scope="col">Age</th>
							<th scope="col"></th>
						</tr>


					</thead>

					<tbody>
						<tr th:each="patient : ${#lists.sort(patients, lastName)}" class="clickable-row" th:data-href="${'/patient/details/' + patient.id}">
							<th scope="row"><fieldset class="form-group">

									<div class="form-check">
										<input class="form-check-input" type="checkbox">
									</div>

								</fieldset></th>
							<td th:text="${patient.firstName + ' ' + patient.lastName}">Hillary
								Joevette Tan</td>
							<td th:text="${patient.birthDate}"
								id="birthDate">03/01/1996</td>
							<td th:text="${patient.phone}">09213481203</td>
							<td th:text="${patient.email}">01/19/2020</td>
							<td>TODO:CALCULATE AGE HERE</td>
							<td></td>
							<td></td>

						</tr>
					<tbody>
				</table>
				<!-- END MAIN CONTENT DETAILS -->
			</div>
			<!-- MAIN CONTENT -->
		</div>

	</div>

	<script th:src="@{/js/main.js}"></script>

</body>
</html>