<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/head :: head"></head>
<body>


<div class="container-fluid">

    <div class="row mb-5">

        <!-- SIDEBAR -->
        <div th:replace="fragments/layout/sidebar :: sidebar"></div>
        <!-- MAIN CONTENT -->
        <div class="col-11 offset-1 my-4 pl-0 pr-5">
            <!-- MAIN CONTENT HEADER -->
            <div th:replace="fragments/patientName :: patientName"></div>

            <div th:replace="fragments/contentNav :: contentNav"></div>

            <div class="dropdown-divider"></div>
            <!-- END MAIN CONTENT HEADER -->

            <!-- MAIN CONTENT DETAILS -->
                <!-- PROCEDURE CATEGORIES -->
            <form class="procedureForm mb-4" th:object="${procedureDto}" th:action="@{'/patient/procedures/' + ${patient.uuid}}" method="post">

            <div th:replace="fragments/procedureCategory :: procedureCategory"></div>

                <div class="row mt-5">
                    <div class="col-7 text-center">
                        <div class="teeth-map" style="position: relative;">
                            <div class="row mb-5">
                                <div class="col-12" id="upperTeethMap">
                                            <input type="radio" id="tooth1" name="tooth" value="1" class="tooth-toggle" required th:field="*{teethId}"/>
                                            <input type="radio" id="tooth2" name="tooth" value="2" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth3" name="tooth" value="3" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth4" name="tooth" value="4" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth5" name="tooth" value="5" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth6" name="tooth" value="6" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth7" name="tooth" value="7" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth8" name="tooth" value="8" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth9" name="tooth" value="9" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth10" name="tooth" value="10" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth11" name="tooth" value="11" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth12" name="tooth" value="12" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth13" name="tooth" value="13" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth14" name="tooth" value="14" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth15" name="tooth" value="15" class="tooth-toggle" required th:field="*{teethId}" />
                                            <input type="radio" id="tooth16" name="tooth" value="16" class="tooth-toggle" required th:field="*{teethId}" />

                                            <div th:replace="fragments/upperTeethMap :: upperTeethMap"></div>


                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12">
                                <input type="radio" id="tooth32" name="tooth" value="32" class="tooth-toggle" required th:field="*{teethId}" />
                                <input type="radio" id="tooth31" name="tooth" value="31" class="tooth-toggle" required th:field="*{teethId}" />
                                    <input type="radio" id="tooth30" name="tooth" value="30" class="tooth-toggle" required th:field="*{teethId}" />
                                    <input type="radio" id="tooth29" name="tooth" value="29" class="tooth-toggle" required th:field="*{teethId}" />
                                    <input type="radio" id="tooth28" name="tooth" value="28" class="tooth-toggle" required th:field="*{teethId}" />
                                    <input type="radio" id="tooth27" name="tooth" value="27" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth26" name="tooth" value="26" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth25" name="tooth" value="25" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth24" name="tooth" value="24" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth23" name="tooth" value="23" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth22" name="tooth" value="22" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth21" name="tooth" value="21" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth20" name="tooth" value="20" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth19" name="tooth" value="19" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth18" name="tooth" value="18" class="tooth-toggle" required th:field="*{teethId}"/>
                                    <input type="radio" id="tooth17" name="tooth" value="17" class="tooth-toggle" required th:field="*{teethId}"/>
                                <div th:replace="fragments/lowerTeethMap :: lowerTeethMap"></div>
                                </div>
                            </div>

                            <div class="dropdown-menu" id="context-menu">

                            </div>
                        </div>
                    </div>


                    <div class="col-5" id="procedure-items">
                        <div class="d-flex flex-column justify-content-between" style="height: 100%">
                            <div class="my-5 px-5" id="procedure-items-list" style="flex-grow: 1;">
                            </div>

                        </div>
                            <div class="d-flex justify-content-between align-items-end px-5">
                                <div class="form-group input-group-sm" style="margin-bottom: 0">
                                    <label class="text-muted" for="procedure-date"><small>Procedure Date</small></label>
                                    <input type="date" class="form-control" required
                                           id="procedure-date" name="dateCreated" th:field="*{dateCreated}">
                                    <div class="invalid-feedback">
                                        Procedure date is required.
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info btn-sm">Save Procedure</button>

                            </div>
                        </div>

                    </div>

                </div>

            </form>

            <ul style="display:none;" id="missing">

                <li th:each="missing : ${patient.missingTeethDto}" th:text="${missing.toothDto.number}" th:id="${missing.uuid}"></li>
            </ul>
            <ul style="display:none;" id="procedures">

                <li th:each="procedure : ${patient.proceduresDto}" th:text="${procedure.toothDto.number}" th:id="${procedure.toothDto.number}"></li>
            </ul>
            <ul style="display:none;" id="extracted">

                <li th:each="procedure : ${patient.proceduresDto}"
                    th:if="${procedure.category == 'extraction'}"
                    th:text="${procedure.toothDto.number}"
                    th:id="${procedure.toothDto.number}"></li>
            </ul>

            <!-- END MAIN CONTENT DETAILS -->
        </div>
        <!-- MAIN CONTENT -->
        <div class="side-overlay"></div>
<!--        SIDE NAV -->
        <div class="side-slider">
            <div class="side-content pt-3">
                <div class="d-flex justify-content-between align-items-baseline">
                    <div>
                        <h5>List of procedures</h5>
                    </div>

                    <i class="fa fa-times" onclick="closeSideSlider()" style="cursor: pointer;"></i>
                </div>

                <div class="dropdown-divider my-3"></div>

            </div>
        </div>
    </div>


</div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/procedure.js}"></script>
</body>
</html>