<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/head :: head"></head>
<body>


<div class="container-fluid">

    <div class="row">

        <!-- SIDEBAR -->
        <div th:replace="fragments/layout/sidebar :: sidebar"></div>
        <!-- MAIN CONTENT -->
        <div class="col-11 offset-1 my-4 pl-0 pr-5">
            <!-- MAIN CONTENT HEADER -->
            <div th:replace="fragments/patientName :: patientName"></div>

            <div th:replace="fragments/contentNav :: contentNav"></div>

            <div class="dropdown-divider"></div>
            <!-- END MAIN CONTENT HEADER -->

            <!-- MAIN CONTENT DETAILS -->
                <!-- PROCEDURE CATEGORIES -->
            <form class="needs-validation" novalidate th:object="${procedureDto}" th:action="@{'/patient/procedures/' + ${patient.getId()}}" method="post">

            <div th:replace="fragments/procedureCategory :: procedureCategory"></div>

                <div class="row mt-5">
                    <div class="col-7 text-center">
                        <div class="teeth-map">
                            <div class="row mb-5">
                                <div class="col-12" id="upperTeethMap">
                                            <input type="radio" id="tooth1" name="tooth" value="1" class="tooth-toggle" th:field="*{teethId}"/>
                                            <input type="radio" id="tooth2" name="tooth" value="2" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth3" name="tooth" value="3" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth4" name="tooth" value="4" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth5" name="tooth" value="5" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth6" name="tooth" value="6" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth7" name="tooth" value="7" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth8" name="tooth" value="8" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth9" name="tooth" value="9" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth10" name="tooth" value="10" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth11" name="tooth" value="11" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth12" name="tooth" value="12" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth13" name="tooth" value="13" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth14" name="tooth" value="14" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth15" name="tooth" value="15" class="tooth-toggle" th:field="*{teethId}" />
                                            <input type="radio" id="tooth16" name="tooth" value="16" class="tooth-toggle" th:field="*{teethId}" />

                                            <div th:replace="fragments/upperTeethMap :: upperTeethMap"></div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12">
                                <input type="radio" id="tooth17" name="tooth" value="17" class="tooth-toggle" th:field="*{teethId}" />
                                <input type="radio" id="tooth18" name="tooth" value="18" class="tooth-toggle" th:field="*{teethId}" />
                                    <input type="radio" id="tooth19" name="tooth" value="19" class="tooth-toggle" th:field="*{teethId}" />
                                    <input type="radio" id="tooth20" name="tooth" value="20" class="tooth-toggle" th:field="*{teethId}" />
                                    <input type="radio" id="tooth21" name="tooth" value="21" class="tooth-toggle" th:field="*{teethId}" />
                                    <input type="radio" id="tooth22" name="tooth" value="22" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth23" name="tooth" value="23" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth24" name="tooth" value="24" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth25" name="tooth" value="25" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth26" name="tooth" value="26" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth27" name="tooth" value="27" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth28" name="tooth" value="28" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth29" name="tooth" value="29" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth30" name="tooth" value="30" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth31" name="tooth" value="31" class="tooth-toggle" th:field="*{teethId}"/>
                                    <input type="radio" id="tooth32" name="tooth" value="32" class="tooth-toggle" th:field="*{teethId}"/>
                                <div th:replace="fragments/lowerTeethMap :: lowerTeethMap"></div>
                                </div>
                            </div>



                        </div>
                    </div>


                    <div class="col-5" id="procedure-items">
                        <div class="d-flex flex-column justify-content-start" style="height: 100%">
                            <div class="p-5" style="flex-grow: 1;">

                                <div class="d-flex justify-content-between">
                                    <input required="" id="1" name="description" type="radio" class="with-font" value="Permanent tooth extraction" th:field="*{description}">
                                    <label aria-label="450-1" class="procedureDesc" for="1">Permanent tooth extraction</label>

                                    <p class="text-muted">450</p>
                                    <input required="" class="with-font" id="450-1" name="cost" type="radio" value="450" th:field="*{cost}">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <input required="" id="2" name="description" type="radio" class="with-font" value="Wisdom tooth extraction" th:field="*{description}">
                                    <label aria-label="5000-2" class="procedureDesc" for="2">Wisdom tooth extraction</label>

                                    <p class="text-muted">5000</p>
                                    <input required="" class="with-font" id="5000-2" name="cost" type="radio" value="5000" th:field="*{cost}">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <input required="" id="3" name="description" type="radio" class="with-font" value="Surgical tooth extraction" th:field="*{description}">
                                    <label aria-label="2500-3" class="procedureDesc" for="3">Surgical tooth extraction</label>

                                    <p class="text-muted">2500</p>
                                    <input required="" class="with-font" id="2500-3" name="cost" type="radio" value="2500" th:field="*{cost}">
                                </div>
                            </div>


<!--                            <div class="" th:if="${#fields.hasErrors('*')}" style="width: 90%;">-->
<!--                                <div th:if="${#fields.hasErrors('description')}" class="alert alert-danger">-->
<!--                                    <ul>-->
<!--                                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>-->
<!--                                    </ul>-->
<!--                                </div>-->

<!--                                <div th:if="${#fields.hasErrors('category')}" class="alert alert-danger">-->
<!--                                    <ul>-->
<!--                                        <li th:each="err : ${#fields.errors('category')}" th:text="${err}"/>-->
<!--                                    </ul>-->
<!--                                </div>-->

<!--                                <div th:if="${#fields.hasErrors('teethId')}" class="alert alert-danger">-->
<!--                                    <ul>-->
<!--                                        <li th:each="err : ${#fields.errors('teethId')}" th:text="${err}"/>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="d-flex justify-content-between align-items-end p-5">
                                <div class="form-group input-group-sm" style="margin-bottom: 0">
                                    <label class="text-muted" for="procedure-date"><small>Procedure Date</small></label>
                                    <input type="date" class="form-control" required
                                           id="procedure-date" name="procedure-date">
                                    <div class="invalid-feedback">
                                        Procedure date is required.
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info">Save Procedure</button>

                            </div>
                        </div>

                    </div>

                </div>

            </form>

            <div class="row mt-5">
                <div class="col-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <i class="fa fa-snowflake-o fa-2x mb-3" style="font-size: 1.5rem;"></i>
                                <p class="small"><span class="text-muted">INVOICE NO.: </span> 20200101-001</p>
                            </div>

                            <p>Permanent tooth extraction</p>
                            <h6 style="color: var(--info); font-weight: bold;">Surgery</h6>
                            <span class="text-muted">Upper right canine</span><br />
                            <span class="text-muted">January 1, 2019</span><br />
                            <br />
                            <br />
                            <p><span class="text-muted">Attended by:</span> Dr. Hillary Jovette Tan</p>

                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <i class="fa fa-snowflake-o fa-2x mb-3" style="font-size: 1.5rem;"></i>
                                <p class="small"><span class="text-muted">INVOICE NO.: </span> 20200101-001</p>
                            </div>

                            <p>Permanent tooth extraction</p>
                            <h6 style="color: var(--info); font-weight: bold;">Surgery</h6>
                            <span class="text-muted">Upper right canine</span><br />
                            <span class="text-muted">January 1, 2019</span><br />
                            <br />
                            <br />
                            <p><span class="text-muted">Attended by:</span> Dr. Hillary Jovette Tan</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <i class="fa fa-snowflake-o fa-2x mb-3" style="font-size: 1.5rem;"></i>
                                <p class="small"><span class="text-muted">INVOICE NO.: </span> 20200101-001</p>
                            </div>

                            <p>Permanent tooth extraction</p>
                            <h6 style="color: var(--info); font-weight: bold;">Surgery</h6>
                            <span class="text-muted">Upper right canine</span><br />
                            <span class="text-muted">January 1, 2019</span><br />
                            <br />
                            <br />
                            <p><span class="text-muted">Attended by:</span> Dr. Hillary Jovette Tan</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <i class="fa fa-snowflake-o fa-2x mb-3" style="font-size: 1.5rem;"></i>
                                <p class="small"><span class="text-muted">INVOICE NO.: </span> 20200101-001</p>
                            </div>

                            <p>Permanent tooth extraction</p>
                            <h6 style="color: var(--info); font-weight: bold;">Surgery</h6>
                            <span class="text-muted">Upper right canine</span><br />
                            <span class="text-muted">January 1, 2019</span><br />
                            <br />
                            <br />
                            <p><span class="text-muted">Attended by:</span> Dr. Hillary Jovette Tan</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- END MAIN CONTENT DETAILS -->
        </div>
        <!-- MAIN CONTENT -->
    </div>

</div>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/procedure.js}"></script>
</body>
</html>