<ul class="nav nav-pills mt-5" th:fragment="contentNav">
	<li class="nav-item"><a class="nav-link main"
		th:href="@{'/patient/details/' + ${patient.uuid}}">Personal
			Information</a></li>
	<li class="nav-item"><a class="nav-link main"
		th:href="@{'/patient/procedures/' + ${patient.uuid}}">Procedures</a></li>
	<li class="nav-item"><a class="nav-link main"
		th:href="@{'/patient/treatmentplans/' + ${patient.uuid}}">Treatment
			Plan</a></li>
	<li class="nav-item"><a class="nav-link main"
							th:href="@{'/patient/documents/' + ${patient.uuid}}">Documents</a></li>
	<li class="nav-item"><a class="nav-link main"
		th:href="@{'/patient/bills/' + ${patient.uuid}}">Bills</a></li>
</ul>