<form onsubmit="console.log('from patientForm')"
      class="needs-validation" novalidate th:object="${patient}" th:action="@{/patient/}" th:fragment="patientForm" method="post">
    <h5 class="mb-4 text-muted">Patient Details</h5>
    <div class="form-row">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-column align-items-center justify-content-center">
            <label for="upload-image" class="upload-image-label">
            <img th:if="${patient.image == null || patient.image == ''}"
                 th:src="${patient.gender == 'male' ? '/images/male.svg' : '/images/female.svg'}" id="profile-image"
                 class="avatar" th:alt="${patient.firstName + ' ' + patient.lastName}" width="95" height="95">

                <img th:unless="${patient.image == null || patient.image == ''}" th:src="${patient.image}" id="profile-image"
                     class="avatar" th:alt="${patient.firstName + ' ' + patient.lastName}" width="95" height="95">
                <p><i class="fa fa-camera fa-lg"></i></p>

            </label>
            <label class="profile-upload-label" for="profileUploadButton"><i class="fa fa-upload mr-1"></i> Upload</label>
            <p class="text-muted"><small><strong>Age: <span th:text="${patient.age}">26</span></strong></small></p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-1">
            <input type="hidden" th:value="${patient.id}" th:field="*{id}">
            <input type="hidden" th:value="${patient.image}" th:field="*{image}">
            <div class="form-group input-group-sm">
                <label class="text-muted" for="firstName"><small>First
                    Name</small></label> <input type="text" class="form-control" required
                                                placeholder="First Name" th:value="${patient.firstName}"
                                                id="firstName" name="firstName" th:field="*{firstName}">
                <div class="invalid-feedback">
                    First name is required.
                </div>

            </div>
            <div class="form-group input-group-sm">
                <label class="text-muted" for="lastName"><small>Last
                    Name</small></label> <input type="text" class="form-control" required
                                                placeholder="Last Name" th:value="${patient.lastName}"
                                                id="lastName" name="lastName" th:field="*{lastName}">
                <div class="invalid-feedback">
                    Last name is required.
                </div>
            </div>

        </div>
    </div>


    <div class="form-group input-group-sm">
        <label class="text-muted" for="birthDate"><small>Birth Date</small></label>
        <input type="date" class="form-control" required th:field="*{birthDate}"
               id="birthDate" name="birthDate">
        <div class="invalid-feedback">
            Birth date is required.
        </div>
        <input type="hidden" th:value="${patient.birthDate}" id="hiddenBirthDAte">
    </div>

    <div class="form-group input-group-sm">
        <label class="text-muted" for="gender"><small>Gender</small></label>
        <select class="custom-select form-control" id="gender" th:field="*{gender}" required>

            <option value="male">Male</option>
            <option value="female">Female</option>

        </select>
        <div class="invalid-feedback">
            Gender is required.
        </div>
    </div>

    <div class="form-group input-group-sm">
        <label class="text-muted" for="email"><small>Email</small></label>
        <input type="email" class="form-control"
               id="email" name="email" th:field="*{email}">
        <div class="invalid-feedback">
            Please provide a valid email.
        </div>
    </div>

    <div class="form-group input-group-sm">
        <label class="text-muted" for="phone"><small>Phone</small></label>
        <input type="text" class="form-control"
               th:value="${patient.phone}" id="phone" name="phone" th:field="*{phone}">

    </div>
    <div class="form-group input-group-sm">
        <label class="text-muted" for="address"><small>Address</small></label>
        <input type="text" class="form-control"
               th:value="${patient.address}" id="address" name="address" th:field="*{address}">

    </div>


    <div class="form-group input-group-sm">
        <label class="text-muted" for="city"><small>City</small></label>
        <input type="text" class="form-control"
               th:value="${patient.city}" id="city" name="city" th:field="*{city}">

    </div>

    <div class="form-group input-group-sm">
        <label class="text-muted" for="province"><small>State
            / Province / Region</small></label> <input type="text" class="form-control"
                                                       th:value="${patient.province}" id="province" name="province"
                                                       th:field="*{province}">

    </div>


    <button type="submit" class="btn btn-info">Save</button>
</form>