<div class="categories mt-4" th:fragment="procedureCategory">

<input type="radio" id="surgery" name="category" value="Surgery" class="category-toggle" th:field="*{category}" checked>
<label for="surgery">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-snowflake-o fa-2x mb-2"></i>
            <br/>
            <span class="small">Surgery</span>

        </div>
    </div>
</label>


<input type="radio" id="rootCanal" name="category" value="Root Canal" class="category-toggle" th:field="*{category}" >
<label for="rootCanal">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-grav fa-2x mb-2"></i>
            <br/>
            <span class="small">Root Canal</span>

        </div>
    </div>
</label>

<input type="radio" id="hygiene" name="category" value="Hygiene" class="category-toggle" th:field="*{category}" >
<label for="hygiene">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-paper-plane fa-2x mb-2"></i>
            <br/>
            <span class="small">Hygiene</span>

        </div>
    </div>
</label>

<input type="radio" id="prosthetics" name="category" value="Prosthetics" class="category-toggle" th:field="*{category}" >
<label for="prosthetics">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-motorcycle fa-2x mb-2"></i>
            <br/>
            <span class="small">Prosthetics</span>

        </div>
    </div>
</label>

<input type="radio" id="restoration" name="category" value="Restoration" class="category-toggle" th:field="*{category}" >
<label for="restoration">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-deaf fa-2x mb-2"></i>
            <br/>
            <span class="small">Restoration</span>

        </div>
    </div>
</label>

<input type="radio" id="whitening" name="category" value="Whitening" class="category-toggle" th:field="*{category}" >
<label for="whitening">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-bomb fa-2x mb-2"></i>
            <br/>
            <span class="small">Whitening</span>

        </div>
    </div>
</label>

<input type="radio" id="implantation" name="category" value="Implantation" class="category-toggle" th:field="*{category}" >
<label for="implantation">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-cube fa-2x mb-2"></i>
            <br/>
            <span class="small">Implantation</span>

        </div>
    </div>
</label>

<input type="radio" id="diagnosis" name="category" value="Diagnosis" class="category-toggle" th:field="*{category}" >
<label for="diagnosis">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-compass fa-2x mb-2"></i>
            <br/>
            <span class="small">Diagnosis</span>

        </div>
    </div>
</label>

<input type="radio" id="orthodontics" name="category" value="Orthodontics" class="category-toggle" th:field="*{category}" >
<label for="orthodontics">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-medkit fa-2x mb-2"></i>
            <br/>
            <span class="small">Orthodontics</span>

        </div>
    </div>
</label>
</div>