<div class="categories mt-4" th:fragment="procedureCategory">

<input type="radio" id="surgery" name="category" value="surgery" class="category-toggle" th:checked="true" th:field="*{category}">
    <label for="surgery">
        <div class="card text-center">
            <div class="card-body d-flex justify-content-center flex-column">

                <i class="fa fa-snowflake-o fa-2x mb-2"></i>
                <br/>
                <span class="small">Surgery</span>

            </div>
        </div>
    </label>


    <input type="radio" id="extraction" name="category" value="extraction" class="category-toggle" th:field="*{category}" >
    <label for="extraction">
        <div class="card text-center">
            <div class="card-body d-flex justify-content-center flex-column">

                <i class="fa fa-grav fa-2x mb-2"></i>
                <br/>
                <span class="small">Extraction</span>

            </div>
        </div>
    </label>

    <input type="radio" id="hygiene" name="category" value="hygiene" class="category-toggle" th:field="*{category}" >
    <label for="hygiene">
        <div class="card text-center">
            <div class="card-body d-flex justify-content-center flex-column">

                <i class="fa fa-paper-plane fa-2x mb-2"></i>
                <br/>
                <span class="small">Hygiene</span>

            </div>
        </div>
    </label>

    <input type="radio" id="prosthetics" name="category" value="prosthetics" class="category-toggle" th:field="*{category}" >
    <label for="prosthetics">
        <div class="card text-center">
            <div class="card-body d-flex justify-content-center flex-column">

                <i class="fa fa-motorcycle fa-2x mb-2"></i>
                <br/>
                <span class="small">Prosthetics</span>

            </div>
        </div>
    </label>

<input type="radio" id="restoration" name="category" value="restoration" class="category-toggle" th:field="*{category}" >
<label for="restoration">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-deaf fa-2x mb-2"></i>
            <br/>
            <span class="small">Restoration</span>

        </div>
    </div>
</label>

<input type="radio" id="orthodontics" name="category" value="orthodontics" class="category-toggle" th:field="*{category}" >
<label for="orthodontics">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-bomb fa-2x mb-2"></i>
            <br/>
            <span class="small">Orthodontics</span>

        </div>
    </div>
</label>

<input type="radio" id="endodontics" name="category" value="endodontics" class="category-toggle" th:field="*{category}" >
<label for="endodontics">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-cube fa-2x mb-2"></i>
            <br/>
            <span class="small">Endodontics</span>

        </div>
    </div>
</label>

<input type="radio" id="diagnosis" name="category" value="diagnosis" class="category-toggle" th:field="*{category}">
<label for="diagnosis">
    <div class="card text-center">
        <div class="card-body d-flex justify-content-center flex-column">

            <i class="fa fa-compass fa-2x mb-2"></i>
            <br/>
            <span class="small">Diagnosis</span>

        </div>
    </div>
</label>
</div>