.healthNoteForms {
    display: none;
}

.allergy-list ul li i {
    cursor: pointer;
    color: #3498db;
}


.avatar {
    object-position: top;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.avatar:hover {
    opacity: 0.4;
}

.upload-image-label {
    position: relative;
}

.avatar + p {
    display: none;
    color: #fff;
    position: absolute;
    bottom: -15%;
    right: -5px;
    font-size: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

#upload-image, #profileUploadButton {
    display: none;
}

#profileUploadBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

[data-invoice-form-id] {
    display: none;
}



