.healthNoteForms {
    display: none;
    opacity: 0;

}

.allergy-list ul li i,
.medical-history-list ul li i {
    color: var(--info);
}

.allergy-list ul li .allergy-desc,
.medical-history-list ul li .med-hist-desc {
    cursor: pointer;
}

.allergy-list ul li .allergy-desc:hover,
.medical-history-list ul li .med-hist-desc:hover{
    text-decoration: line-through;
}


.avatar {
    object-position: top;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.avatar:hover {
    opacity: 0.4;
}

.upload-image-label {
    position: relative;
}

.avatar + p {
    display: none;
    color: #fff;
    position: absolute;
    bottom: -15%;
    right: -5px;
    font-size: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

#upload-image, #profileUploadButton {
    display: none;
}

#profileUploadBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}


[data-invoice-form] {
    display: none;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

[data-invoice-form] .form-group,
 [data-invoice-form] label{
    margin-bottom: 0 !important;
}

[data-procedure-delete-form] {
    display: none;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

[data-complaint-delete-form] {
    display: none;
    opacity: 0;
    margin-top: 1rem;
}

[data-allergy-delete-form] {
    display: none;
    opacity: 0;
    height: 2rem;
    margin-top: 1rem;
}

[data-med-hist-delete-form] {
    display: none;
    opacity: 0;
    height: 2rem;
    margin-top: 1rem;
}





