#patients-table .page-link {
    background-color: var(--info) !important;
}
.has-search {
    margin-bottom: 0 !important;
        flex-grow: 1;

}

.has-search .form-control {
    padding-left: 2.375rem;
    position: relative;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search-form {
    display: flex;
    align-items:center;
    width: 100%;

}

.dataTables_filter {
    display: none;
}

