.categories {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 1rem;
}

// Small devices (landscape phones, 576px and down)
@media only screen and(max-width: 576px) {
     .categories {
             grid-template-columns: repeat(2, 1fr);
     }
 }

// Medium devices (tablets, 768px and up)
@media only screen and(max-width: 768px) {
     .categories {
             grid-template-columns: repeat(5, 1fr);
     }
}

// Large devices (desktops, 992px and up)
@media only screen and(max-width: 992px) {
     .categories {
             grid-template-columns: repeat(9, 1fr);
     }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and(max-width: 1200px) {
         .categories {
                 grid-template-columns: repeat(9, 1fr);
         }
}

.category-toggle {
    display: none;
}

.category-toggle:checked + label .card {
    background-color: var(--primary-color);
}

.categories label .card {
    min-height: 7rem;
    width: 100%;
    cursor: pointer;
    transition: background 100ms ease-in-out;
}


input[type=radio].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    font-size: 1.333333em;
    color: red;
    margin-right: 1rem;


}

input[type=radio].with-font {
    display: none;
}

input[type=radio].with-font ~ label {
    cursor: pointer;
}

input[type=radio].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f111";
    font-size: 1.2em;
    color: #151515;
}

input[type=radio].with-font:checked ~ label:before {
    content: "\f058";
    font-size: 1.2em;
    color: var(--primary-color);
}

input[type=radio].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
{
    color: var(--primary-color);
}

.teeth-map {

    padding: 0 2rem;
    align-items: end;
    height: 100%;
}


.tooth__base {
    cursor: pointer;
    fill: transparent;
}

.crown__line,
.crown__base {
    stroke: #fff;
    stroke-width: 5;
}

.root__base{
    stroke-width: 5;
}

.tooth__base {
    stroke-width: 0;
    transition: fill 100ms ease-in-out;
}

.tooth__base:hover {
    fill: #999;
}



input[id="tooth1"]:checked ~ svg #tooth1,
input[id="tooth1"]:checked ~ svg #tooth1n {
    fill: #999;
}

input[id="tooth2"]:checked ~ svg #tooth2,
input[id="tooth2"]:checked ~ svg #tooth2n {
    fill: #999;
}

input[id="tooth3"]:checked ~ svg #tooth3,
input[id="tooth3"]:checked ~ svg #tooth3n {
    fill: #999;
}

input[id="tooth4"]:checked ~ svg #tooth4,
input[id="tooth4"]:checked ~ svg #tooth4n {
    fill: #999;
}

input[id="tooth5"]:checked ~ svg #tooth5,
input[id="tooth5"]:checked ~ svg #tooth5n {
    fill: #999;
}

input[id="tooth6"]:checked ~ svg #tooth6,
input[id="tooth6"]:checked ~ svg #tooth6n {
    fill: #999;
}

input[id="tooth7"]:checked ~ svg #tooth7,
input[id="tooth7"]:checked ~ svg #tooth7n {
    fill: #999;
}

input[id="tooth8"]:checked ~ svg #tooth8,
input[id="tooth8"]:checked ~ svg #tooth8n {
    fill: #999;
}

input[id="tooth9"]:checked ~ svg #tooth9,
input[id="tooth9"]:checked ~ svg #tooth9n {
    fill: #999;
}

input[id="tooth10"]:checked ~ svg #tooth10,
input[id="tooth10"]:checked ~ svg #tooth10n {
    fill: #999;
}

input[id="tooth11"]:checked ~ svg #tooth11,
input[id="tooth11"]:checked ~ svg #tooth11n {
    fill: #999;
}

input[id="tooth12"]:checked ~ svg #tooth12,
input[id="tooth12"]:checked ~ svg #tooth12n {
    fill: #999;
}

input[id="tooth13"]:checked ~ svg #tooth13,
input[id="tooth13"]:checked ~ svg #tooth13n {
    fill: #999;
}

input[id="tooth14"]:checked ~ svg #tooth14,
input[id="tooth14"]:checked ~ svg #tooth14n {
    fill: #999;
}

input[id="tooth15"]:checked ~ svg #tooth15,
input[id="tooth15"]:checked ~ svg #tooth15n {
    fill: #999;
}

input[id="tooth16"]:checked ~ svg #tooth16,
input[id="tooth16"]:checked ~ svg #tooth16n {
    fill: #999;
}

input[id="tooth17"]:checked ~ svg #tooth17,
input[id="tooth17"]:checked ~ svg #tooth17n {
    fill: #999;
}

input[id="tooth18"]:checked ~ svg #tooth18,
input[id="tooth18"]:checked ~ svg #tooth18n {
    fill: #999;
}

input[id="tooth19"]:checked ~ svg #tooth19,
input[id="tooth19"]:checked ~ svg #tooth19n{
    fill: #999;
}

input[id="tooth20"]:checked ~ svg #tooth20,
input[id="tooth20"]:checked ~ svg #tooth20n {
    fill: #999;
}

input[id="tooth21"]:checked ~ svg #tooth21,
input[id="tooth21"]:checked ~ svg #tooth21n {
    fill: #999;
}

input[id="tooth22"]:checked ~ svg #tooth22,
input[id="tooth22"]:checked ~ svg #tooth22n {
    fill: #999;
}

input[id="tooth23"]:checked ~ svg #tooth23,
input[id="tooth23"]:checked ~ svg #tooth23n {
    fill: #999;
}

input[id="tooth24"]:checked ~ svg #tooth24,
input[id="tooth24"]:checked ~ svg #tooth24n {
    fill: #999;
}

input[id="tooth25"]:checked ~ svg #tooth25,
input[id="tooth25"]:checked ~ svg #tooth25n {
    fill: #999;
}

input[id="tooth26"]:checked ~ svg #tooth26,
input[id="tooth26"]:checked ~ svg #tooth26n {
    fill: #999;
}

input[id="tooth27"]:checked ~ svg #tooth27,
input[id="tooth27"]:checked ~ svg #tooth27n {
    fill: #999;
}

input[id="tooth28"]:checked ~ svg #tooth28,
input[id="tooth28"]:checked ~ svg #tooth28n {
    fill: #999;
}

input[id="tooth29"]:checked ~ svg #tooth29,
input[id="tooth29"]:checked ~ svg #tooth29n {
    fill: #999;
}

input[id="tooth30"]:checked ~ svg #tooth30,
input[id="tooth30"]:checked ~ svg #tooth30n {
    fill: #999;
}

input[id="tooth31"]:checked ~ svg #tooth31,
input[id="tooth31"]:checked ~ svg #tooth31n {
    fill: #999;
}

input[id="tooth32"]:checked ~ svg #tooth32,
input[id="tooth32"]:checked ~ svg #tooth32n {
    fill: #999;
}


.tooth-toggle {
    display: none;
}





