<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/head :: head"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/layout/sidebar :: sidebar"></div>
        <div class="col-11 offset-1 my-4 pl-0 pr-5"><h5>Calendar Page</h5></div>
        <div class="col-8 offset- my-4 pl-0">
            <div class="container">
                <div id="calendar"></div>

            </div>

        </div>
    </div>
</div>

<script th:src="@{/js/main.js}"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'timeGrid', 'list', 'bootstrap', 'darkly' ],
      timeZone: 'UTC',
      themeSystem: 'bootstrap',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      weekNumbers: true,
      eventLimit: true, // allow "more" link when too many events
      events: ['https://fullcalendar.io/demo-events.json']
    });

    calendar.render();
  });

</script>
</body>
</html>