<div class="card mt-3 healthNoteForms" th:fragment="allergyForm">
    <div class="card-body">
        <form class="form-inline justify-content-between" id="allergyForm">
            <input type="hidden" th:value="${patient.id}" name="patientId" id="allergyPatientId">
            <div class="form-group input-group-sm">
                <input type="text" class="form-control"
                       required
                       placeholder="Description"
                       id="allergyDesc"
                       name="description"
                       style="background-color: #393939 !important"
                >
                <div class="invalid-feedback">
                    Description is required.
                </div>

            </div>

            <div class="form-group input-group-sm">
                <input type="date" class="form-control"
                       required
                       id="allergyDate"
                       name="dateCreated"
                       style="background-color: #393939 !important"
                >
                <div class="invalid-feedback">
                    Date is required.
                </div>

            </div>

            <button type="submit" style="display: none;" id="submitAllergy"></button>
            <label for="submitAllergy">
                <i class="fa fa-plus icon-button" id="allergySubmitBtn"></i>
            </label>
        </form>
    </div>
</div>