<div class="card mt-3 complaintFormCard" th:fragment="complaintForm">
    <div class="card-body">
        <form class="form-inline justify-content-between" id="complaintForm">
            <input type="hidden" th:value="${patient.id}" id="comPatientId">
            <div class="form-group input-group-sm">
                <input type="text" class="form-control"
                       required
                       placeholder="Description"
                       id="complaintDesc"
                       name="complaintDesc"
                       style="background-color: #393939 !important"
                >
                <div class="invalid-feedback">
                    Description is required.
                </div>

            </div>

            <div class="form-group input-group-sm">
                <input type="date" class="form-control"
                       required
                       id="complaintDate"
                       name="complaintDate"
                       style="background-color: #393939 !important"
                >
                <div class="invalid-feedback">
                    Date is required.
                </div>

            </div>

            <button type="submit" style="display: none;" id="submitComplaint"></button>
            <label for="submitComplaint">
                <i class="fa fa-plus icon-button" id="complaintSubmitBtn"></i>
            </label>
        </form>
    </div>
</div>